@import "../../style.scss";

.layout-lists {
  margin-top: $header-size;
  white-space: nowrap;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .layout-lists {
    margin-left: 0px;
  }
}

