$main-color: #282D32;
$blue-color: #585EEA;
$text-color: #EEF7FF;
$card-color: #2D333A;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');
body {
    background-color: $main-color;
    color: $text-color;
    font-family: "Nunito";
    font-weight: 800;

}