@import '../../../style.scss';

.searchgamecard-card{
    background-color: $card-color;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    padding-top: 2px;
    box-shadow:
        -3px -3px 10px 0 rgba(0, 0, 0, 0.12),
        3px 3px 10px 0 rgba(0, 0, 0, 0.12);
}

.searchgamecard-text{
    vertical-align: middle;
    margin-left: 17px;
    font-weight: 600;
}
.searchgamecard-input {
    box-sizing: border-box;
    border: none;
    //background-color: $card-color;
    background-color: rgba(0, 0, 0, 0);
    color: $text-color;
    height: 40px;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    font-family: "Nunito";


  }
.searchgamecard-input:focus{
    outline: none;
}
.searchgamecard-input::placeholder {
    color: rgba(238, 247, 255, 0.3);
  }