@import "../../../style.scss";
.display-none{
    display: none;
}
.main-nav{
    z-index: 1;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: $card-color;
    box-shadow:
    3px 3px 10px 0 rgba(0, 0, 0, 0.12);
    .logo {
        font-size: 35px;
        margin-left: 45px;
    }
    .icon{
        vertical-align: text-bottom;
        font-size: 25px;
        margin: 0px auto;
    }
    .username-button{
        font-size: 20px;
    }
    .buttons-container{
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 45px;
    }
    .buttons-container > span{
        margin-left: 30px;
        cursor: pointer;
    }    
}
@media only screen and (max-width: 600px) {
    .main-nav{
        .username-button{
            display:none;
        }
        .logo {
            font-size: 35px;
            margin-left: 20px;
        }
        .buttons-container{
            margin-right: 20px;
        }
    }
}
