@import "../../../style.scss";

.logobuttonsnav {
  margin-top: 30px;

  .logo {
    font-size: 48px;
    margin-left: 45px;
  }
  .loginbtn {
    margin-right: 50px;
    float: right;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    border-radius: 13px;
  }
  .loginbtn-text {
    font-size: 30px;
    color: $text-color;
    vertical-align: middle;
    margin-left: 25px;
    margin-right: 25px;
    font-weight: 800;
  }
  .register-btn {
    margin-right: 45px;
    float: right;
  }

}
