@import '../../../style.scss';

.card-card{
    background-color: $card-color;
    height: auto;
    line-height: 50px;
    border-radius: 10px;
    box-shadow:
        -3px -3px 10px 0 rgba(0, 0, 0, 0.12),
        3px 3px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-content{
    vertical-align: middle;
    margin-left: 17px;
    font-weight: 600;
    padding-top: 10px;
}

.card-text{
    margin-top: -10px;
}
.card-release-date{
    font-size: 0.7em;
    text-align: left;
    margin-top: -20px;
    .date{
        color: $blue-color;
    }
}