@import '../../../style.scss';

.titleCard-card{
    background-color: $blue-color;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    box-shadow:
        -5px -5px 10px 0 rgba(0, 0, 0, 0.16),
        5px 5px 10px 0 rgba(0, 0, 0, 0.16);
}

.titleCard-title-text{
    vertical-align: middle;
    margin-left: 17px;
    font-weight: 800;
}

.titleCard-card-input{
    box-sizing: border-box;
    border: none;
    //background-color: $card-color;
    background-color: rgba(0, 0, 0, 0);
    color: $text-color;
    height: 40px;
    width: 100%;
    font-size: 1em;
    font-weight: 800;
    font-family: "Nunito";
}

.titleCard-card-input:focus{
    outline: none;
}

.titleCard-card-input::placeholder {
    color: rgba(238, 247, 255, 1);
  }