@import '../../../style.scss';

.titleCard-card{
    background-color: $blue-color;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    box-shadow:
        -5px -5px 10px 0 rgba(0, 0, 0, 0.16),
        5px 5px 10px 0 rgba(0, 0, 0, 0.16);
}

.titleCard-title-text{
    vertical-align: middle;
    margin-left: 17px;
    font-weight: 800;
}