.list-list{
    //background-color: white;
    width: 350px;
    height: 88vh;
    display: inline-block;
    margin-left: 20px;
    white-space: nowrap;

}
.list-overflow{
    overflow-y: auto;
    scrollbar-width: none;
    margin-left: -34px;
    padding-left: 54px;
    padding-right: 54px;
    margin-right: -54px;
    padding-top: 10px;
    margin-top: -10px;
}
.list-title-card{
    margin-bottom: 30px;
    margin-left: 20px;
}
.list-card{
    margin-top: 20px;
}
.list-card:first-child{
    margin-top: 0px;
}
.list-visibility-visible {
    position: static;
    margin-top: 20px;
}
.list-visibility-hidden {
    position: absolute;
    top: -999999px;
}
.list-list-wrapper{
    display: inline-block;
    white-space: nowrap;
    
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
      }
}
.list-add-new-wrapper{
    padding-bottom: 50px;
}

@media only screen and (max-height: 600px) {
    .list-list {
      height: 79vh;
    }
  }
  @media only screen and (max-height: 700px) {
    .list-list {
      height: 82vh;
    }
  }