.list-list{
    //background-color: white;
    width: 350px;
    height: 75vh;;
    display: inline-block;
    margin-left: 20px;
    white-space: nowrap;
    vertical-align: top;
    overflow: auto;
}
.list-title-card{
    margin-bottom: 30px;
    margin-left: 20px;
}
.list-card{
    margin-top: 20px;
}
.list-card:first-child{
    margin-top: 0px;
}
.list-visibility-visible {
    position: static;
    margin-top: 20px;
}
.list-visibility-hidden {
    position: absolute;
    top: -999999px;
}
.list-list-wrapper{
    display: inline-block;
    white-space: nowrap;
    
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
      }
}
