@import "../../style.scss";

.LandingPage {
  .content-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "left right";


    .grid-left { grid-area: left; }
  
    .grid-right { grid-area: right; }

  }
  .bigtext {
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 98px;
  }

  .smalltext1{
    margin-top: 500px;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;

  }
  .smalltext2{
    margin-top: 590px;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
  }
}
